*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../assets/navBackground.jpg);
    height: 20vw;
    background-size: cover;
    background-position: center;
    border-bottom: solid gray 0.5vw;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 5vw;
    margin-right: 1vw;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: black;
    margin: 1vw;
    padding: 1vw 1vw;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: black;
    color: white;
}

ul li.active a{
    background-color: black;
    color: white;
}

.logo img{
    float: left;
    width: 20vw;
    height: auto;
}

.navBar{
    max-width: 85vw;
    margin: auto;
}

.icons{
    width: 5vw;
    height: auto;
    padding: 0.6vw;
}

.main_table{
    width: 80vw;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 2vw;
    margin-bottom: 5vw;
}

.links{
    text-decoration: none;
    color: black;
}

.links:hover{
    text-decoration: underline;
}
